table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: left;
}


tr:nth-child(even) {
    background-color: #bde49b;
  }
  
  
 
  
  col:nth-child(even) {
    background-color: #92c488;
  }
  table {
    width: 70%;
  }
  
  th {
    height: 70px;
  }
  
  tr:hover {background-color: rgb(66, 143, 162);}
  th {
    background-color: #159c69;
    color: rgb(9, 6, 10);
  }

  